broden1_224
./broden1_224/
broden1_224.tar.gz
broden1_224.tar.gz.md5
broden1_224.md5
broden1_224.tar
broden1_224.tar.md5
broden1_224.tar.xz
broden1_224.tar.xz.md5


/data/dotted
/data/striped
/data/zigzagged
/data/imagenet_random_images