/data/broden1_224
/data/broden1_224.tar.gz
/data/broden1_224.tar.gz.md5
/data/broden1_224.md5
/data/broden1_224.tar
/data/broden1_224.tar.md5
/data/broden1_224.tar.xz
/data/broden1_224.tar.xz.md5


/data/dotted
/data/striped
/data/zigzagged
/data/imagenet_random_images
